@font-face {
  font-family: "Montserrat Alternates";
  src: url("fonts/MontserratAlternates.woff") format("woff");
}

body {
  background: url("rain.jpg") no-repeat 50% 0;
  color: #333333;
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

.square {
  margin: 150px auto;
  width: 260px;
  border: 5px solid #333333;
  text-align: center;
  text-transform: uppercase;
  font-size: 72px;
  font-family: "Montserrat Alternates", sans-serif;
}
