@font-face {
  font-weight: 400;
  font-family: "PT Sans";
  src: url("fonts/ptsans.woff") format("woff");
}

body {
  margin: 0;
  padding: 0;
  min-width: 400px;
  background-color: #f5f5f5;
  text-align: center;
  font-size: 14px;
  font-family: "PT Sans", sans-serif;
}

.breadcrumbs {
  display: inline-block;
  margin: 150px 0;
  box-shadow: 0 0 2px #aaaaaa;
  color: black;
  counter-reset: flag;
}

.breadcrumbs a {
  position: relative;
  float: left;
  padding-right: 10px;
  padding-left: 60px;
  outline: 1px dotted #3498db;
  background-color: white;
  color: black;
  text-decoration: none;
  line-height: 36px;
}

.breadcrumbs a::after {
  position: absolute;
  top: 0;
  right: -18px;
  z-index: 1;
  width: 36px;
  height: 36px;
  border-radius: 50px 0 0 0;
  background-color: red;
  box-shadow: 1px 1px 0 1px black;
  content: "";
  transform: rotate(-45deg) scale(0.73);
}
