body {
  margin: 0;
  min-width: 570px;
  background: url("bokeh.jpg") no-repeat 50% 0;
  color: #fffbb4;
  font-size: 12px;
  font-family: "Arial", sans-serif;
}

h1 {
  text-align: center;
  word-spacing: 5px;
  font-size: 24px;
}

ul {
  padding: 0;
  list-style: none;
  text-align: center;
  word-spacing: 12px;
}

li {
  display: inline-block;
  margin-bottom: 12px;
}

img {
  width: 250px;
}
