.dashboard {
    width: 520px;
    padding: 20px;
    display: flex;
    font-family: "Tahoma","Arial",sans-serif;
    color: #fff;
    background-color: #3944af
}

.tabs-list {
    list-style: none;
    flex-shrink: 0
}

.tab {
    width: 160px
}

.content,.tab-link {
    font-size: 14px;
    line-height: 20px;
    border-radius: 4px
}

.tab-link {
    display: block;
    padding: 10px 10px 10px 40px;
    position: relative;
    text-decoration: none;
    background-color: #5f6eeb;
    color: #fff
}

.tab-link::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    top: 12px;
    left: 15px;
    background-repeat: no-repeat
}

.charts::before {
    background-image: url(img/chart.svg)
}

.clients::before {
    background-image: url(img/client.svg)
}

.documents::before {
    background-image: url(img/document.svg)
}

.messages::before {
    background-image: url(img/message.svg)
}

.projects::before {
    background-image: url(img/project.svg)
}

.settings::before {
    background-image: url(img/settings.svg)
}

.trash::before {
    background-image: url(img/trash.svg)
}

.active .tab-link {
    background-color: #eef0fc;
    border-radius: 4px 0 0 4px;
    font-weight: 700;
    color: #3844ae
}

.content {
    color: #333;
    background-color: #eef0fc;
    flex-shrink: 0
}

.title {
    font-size: 16px;
    line-height: 24px;
    font-weight: 700
}

.author {
    width: 135px;
    display: flex;
    font-size: 12px;
    line-height: 16px;
    color: #5f6eeb
}

.author-avatar {
    margin-right: 10px
}

.message {
    text-align: center
}

.reply-link {
    padding: 5px 10px;
    background-color: #606deb;
    color: #fff;
    border-radius: 4px;
    text-decoration: none
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden
}
