.simple-gray {
  background-image: linear-gradient(#ffffff, #dddddd);
  color: #333333;
}

.strong-brown {
  background-image: linear-gradient(#cc0630 0%, #8f0222 75%, #6d0019 100%);
  color: #ffffff;
}

.glossy-blue {
  background-image: linear-gradient(#b8e1fc 0%, #90bcea 35%, #90bff0 50%, #6ba8e5 51%, #bdf3fd 100%);
  color: #ffffff;
}

.button {
  display: inline-block;
  margin: 20px;
  padding: 20px 50px;
  border-radius: 5px;
  border: none;
  box-shadow:
    inset 0 0 0 1px rgba(0, 0, 0, 0.2),
    0 1px 3px #aaaaaa;
  text-align: center;
  text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.4);
  font-size: 24px;
  font-family: "Lucida Grande", "Arial", sans-serif;
  line-height: 25px;
}

html,
body {
  margin: 0;
  padding: 0;
  padding-top: 50px;
  text-align: center;
}
