.btn1 {
  box-shadow: inset 5px 5px 0 0 #34495e;
  /*box-shadow: 5px 5px 0 0 #34495e;*/
}

.btn2 {
  box-shadow: inset 0 0 5px 0 #34495e;
  /*box-shadow: 0 0 5px 0 #34495e;*/
}

.btn3 {
  box-shadow: inset 0 0 5px 3px #34495e;
  /*box-shadow: 0 0 5px 3px #34495e;*/
}

body {
  background-image: url("bg.jpg");
  font-size: 18px;
  font-family: "Tahoma", sans-serif;
}

.btn {
  display: block;
  margin: 50px auto;
  padding: 15px 20px;
  width: 150px;
  border: none;
  box-sizing: content-box;
  background-color: #3498db;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font: inherit;
}
