body {
  background-image: url("bg.jpg");
  font-size: 18px;
  font-family: "Tahoma", sans-serif;
}

.btn {
  display: block;
  margin: 100px auto;
  padding: 15px 20px;
  width: 150px;
  border: none;
  box-sizing: content-box;
  background-color: #3498db;
  box-shadow: 5px -10px 0 0 #34495e;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font: inherit;
}
