body {
  background: url("sunrise.jpg") no-repeat 50% 0;
  color: #eadec8;
  font-family: "Arial", sans-serif;
}

h1 {
  margin: 120px 30px;
  text-align: center;
  text-shadow: 5px 5px 0px #333333;
  font-weight: normal;
  font-size: 50px;
}

span {
  position: absolute;
  top: 400px;
  left: 110px;
  font-size: 70px;
}
