body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #003f86;
}

.aurora {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;

  width: 100%;
  height: 500px;

  background-image: linear-gradient(#063365, #29b593, #4ecad2, #13a0f0, #6d4bf6, #731cb7, #003f86);
}
