body {
  background: url("lens.jpg") no-repeat 50% 0;
  color: #444444;
  font-family: "Arial", sans-serif;
}

h1 {
  margin: 50px;
  text-shadow:
    2px 2px #e5d4c0,
    4px 4px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  font-weight: normal;
  font-size: 55px;
}

span {
  position: absolute;
  top: 150px;
  left: 50px;
  font-size: 100px;
}
