body {
  background-color: black;
  font-size: 18px;
  font-family: "Tahoma", sans-serif;
}

.btn {
  display: block;
  margin: 100px auto;
  padding: 15px 20px;
  width: 150px;
  border: none;
  box-sizing: content-box;
  background-color: #34495e;
  color: white;
  box-shadow:
      0 -5px 10px -3px #3498db,
      0 5px 10px -3px #2ecc71;
  text-align: center;
  text-transform: uppercase;
  font: inherit;
}
